<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hynetwork.mapper.AdvisesMapper" >
  <resultMap id="BaseResultMap" type="com.hynetwork.entity.Advises" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="memberid" property="memberid" jdbcType="VARCHAR" />
    <result column="acc_phone" property="accPhone" jdbcType="VARCHAR" />
    <result column="acc_qq" property="accQq" jdbcType="VARCHAR" />
    <result column="acc_emain" property="accEmain" jdbcType="VARCHAR" />
    <result column="acc_type" property="accType" jdbcType="TINYINT" />
    <result column="acc_content" property="accContent" jdbcType="VARCHAR" />
    <result column="acc_time" property="accTime" jdbcType="TIMESTAMP" />
    <result column="deal_type" property="dealType" jdbcType="TINYINT" />
    <result column="deal_content" property="dealContent" jdbcType="VARCHAR" />
    <result column="deal_account" property="dealAccount" jdbcType="VARCHAR" />
    <result column="deal_time" property="dealTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, memberid, acc_phone, acc_qq, acc_emain, acc_type, acc_content, acc_time, deal_type, 
    deal_content, deal_account, deal_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ADVISES
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ADVISES
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.hynetwork.entity.Advises" >
    insert into ADVISES (id, memberid, acc_phone, 
      acc_qq, acc_emain, acc_type, 
      acc_content, acc_time, deal_type, 
      deal_content, deal_account, deal_time
      )
    values (#{id,jdbcType=BIGINT}, #{memberid,jdbcType=VARCHAR}, #{accPhone,jdbcType=VARCHAR}, 
      #{accQq,jdbcType=VARCHAR}, #{accEmain,jdbcType=VARCHAR}, #{accType,jdbcType=TINYINT}, 
      #{accContent,jdbcType=VARCHAR}, #{accTime,jdbcType=TIMESTAMP}, #{dealType,jdbcType=TINYINT}, 
      #{dealContent,jdbcType=VARCHAR}, #{dealAccount,jdbcType=VARCHAR}, #{dealTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hynetwork.entity.Advises" >
    insert into ADVISES
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberid != null" >
        memberid,
      </if>
      <if test="accPhone != null" >
        acc_phone,
      </if>
      <if test="accQq != null" >
        acc_qq,
      </if>
      <if test="accEmain != null" >
        acc_emain,
      </if>
      <if test="accType != null" >
        acc_type,
      </if>
      <if test="accContent != null" >
        acc_content,
      </if>
      <if test="accTime != null" >
        acc_time,
      </if>
      <if test="dealType != null" >
        deal_type,
      </if>
      <if test="dealContent != null" >
        deal_content,
      </if>
      <if test="dealAccount != null" >
        deal_account,
      </if>
      <if test="dealTime != null" >
        deal_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="memberid != null" >
        #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="accPhone != null" >
        #{accPhone,jdbcType=VARCHAR},
      </if>
      <if test="accQq != null" >
        #{accQq,jdbcType=VARCHAR},
      </if>
      <if test="accEmain != null" >
        #{accEmain,jdbcType=VARCHAR},
      </if>
      <if test="accType != null" >
        #{accType,jdbcType=TINYINT},
      </if>
      <if test="accContent != null" >
        #{accContent,jdbcType=VARCHAR},
      </if>
      <if test="accTime != null" >
        #{accTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealType != null" >
        #{dealType,jdbcType=TINYINT},
      </if>
      <if test="dealContent != null" >
        #{dealContent,jdbcType=VARCHAR},
      </if>
      <if test="dealAccount != null" >
        #{dealAccount,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        #{dealTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hynetwork.entity.Advises" >
    update ADVISES
    <set >
      <if test="memberid != null" >
        memberid = #{memberid,jdbcType=VARCHAR},
      </if>
      <if test="accPhone != null" >
        acc_phone = #{accPhone,jdbcType=VARCHAR},
      </if>
      <if test="accQq != null" >
        acc_qq = #{accQq,jdbcType=VARCHAR},
      </if>
      <if test="accEmain != null" >
        acc_emain = #{accEmain,jdbcType=VARCHAR},
      </if>
      <if test="accType != null" >
        acc_type = #{accType,jdbcType=TINYINT},
      </if>
      <if test="accContent != null" >
        acc_content = #{accContent,jdbcType=VARCHAR},
      </if>
      <if test="accTime != null" >
        acc_time = #{accTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dealType != null" >
        deal_type = #{dealType,jdbcType=TINYINT},
      </if>
      <if test="dealContent != null" >
        deal_content = #{dealContent,jdbcType=VARCHAR},
      </if>
      <if test="dealAccount != null" >
        deal_account = #{dealAccount,jdbcType=VARCHAR},
      </if>
      <if test="dealTime != null" >
        deal_time = #{dealTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hynetwork.entity.Advises" >
    update ADVISES
    set memberid = #{memberid,jdbcType=VARCHAR},
      acc_phone = #{accPhone,jdbcType=VARCHAR},
      acc_qq = #{accQq,jdbcType=VARCHAR},
      acc_emain = #{accEmain,jdbcType=VARCHAR},
      acc_type = #{accType,jdbcType=TINYINT},
      acc_content = #{accContent,jdbcType=VARCHAR},
      acc_time = #{accTime,jdbcType=TIMESTAMP},
      deal_type = #{dealType,jdbcType=TINYINT},
      deal_content = #{dealContent,jdbcType=VARCHAR},
      deal_account = #{dealAccount,jdbcType=VARCHAR},
      deal_time = #{dealTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>