<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hynetwork.mapper.ForumnTopicMapper" >
  <resultMap id="BaseResultMap" type="com.hynetwork.entity.ForumnTopic" >
    <id column="topic_id" property="topicId" jdbcType="INTEGER" />
    <result column="topic_title" property="topicTitle" jdbcType="VARCHAR" />
    <result column="draw_id" property="drawId" jdbcType="VARCHAR" />
    <result column="topic_status" property="topicStatus" jdbcType="SMALLINT" />
    <result column="publish_time" property="publishTime" jdbcType="TIMESTAMP" />
    <result column="author_id" property="authorId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="relative_mod_it" property="relativeModIt" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hynetwork.entity.ForumnTopic" extends="BaseResultMap" >
    <result column="topic_content" property="topicContent" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    topic_id, topic_title, draw_id, topic_status, publish_time, author_id, create_time, 
    relative_mod_it
  </sql>
  <sql id="Blob_Column_List" >
    topic_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from forumn_topic
    where topic_id = #{topicId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from forumn_topic
    where topic_id = #{topicId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hynetwork.entity.ForumnTopic" >
    insert into forumn_topic (topic_id, topic_title, draw_id, 
      topic_status, publish_time, author_id, 
      create_time, relative_mod_it, topic_content
      )
    values (#{topicId,jdbcType=INTEGER}, #{topicTitle,jdbcType=VARCHAR}, #{drawId,jdbcType=VARCHAR}, 
      #{topicStatus,jdbcType=SMALLINT}, #{publishTime,jdbcType=TIMESTAMP}, #{authorId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{relativeModIt,jdbcType=VARCHAR}, #{topicContent,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hynetwork.entity.ForumnTopic" >
    insert into forumn_topic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="topicId != null" >
        topic_id,
      </if>
      <if test="topicTitle != null" >
        topic_title,
      </if>
      <if test="drawId != null" >
        draw_id,
      </if>
      <if test="topicStatus != null" >
        topic_status,
      </if>
      <if test="publishTime != null" >
        publish_time,
      </if>
      <if test="authorId != null" >
        author_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="relativeModIt != null" >
        relative_mod_it,
      </if>
      <if test="topicContent != null" >
        topic_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="topicId != null" >
        #{topicId,jdbcType=INTEGER},
      </if>
      <if test="topicTitle != null" >
        #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="drawId != null" >
        #{drawId,jdbcType=VARCHAR},
      </if>
      <if test="topicStatus != null" >
        #{topicStatus,jdbcType=SMALLINT},
      </if>
      <if test="publishTime != null" >
        #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="authorId != null" >
        #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relativeModIt != null" >
        #{relativeModIt,jdbcType=VARCHAR},
      </if>
      <if test="topicContent != null" >
        #{topicContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hynetwork.entity.ForumnTopic" >
    update forumn_topic
    <set >
      <if test="topicTitle != null" >
        topic_title = #{topicTitle,jdbcType=VARCHAR},
      </if>
      <if test="drawId != null" >
        draw_id = #{drawId,jdbcType=VARCHAR},
      </if>
      <if test="topicStatus != null" >
        topic_status = #{topicStatus,jdbcType=SMALLINT},
      </if>
      <if test="publishTime != null" >
        publish_time = #{publishTime,jdbcType=TIMESTAMP},
      </if>
      <if test="authorId != null" >
        author_id = #{authorId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="relativeModIt != null" >
        relative_mod_it = #{relativeModIt,jdbcType=VARCHAR},
      </if>
      <if test="topicContent != null" >
        topic_content = #{topicContent,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where topic_id = #{topicId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hynetwork.entity.ForumnTopic" >
    update forumn_topic
    set topic_title = #{topicTitle,jdbcType=VARCHAR},
      draw_id = #{drawId,jdbcType=VARCHAR},
      topic_status = #{topicStatus,jdbcType=SMALLINT},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      author_id = #{authorId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      relative_mod_it = #{relativeModIt,jdbcType=VARCHAR},
      topic_content = #{topicContent,jdbcType=LONGVARCHAR}
    where topic_id = #{topicId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hynetwork.entity.ForumnTopic" >
    update forumn_topic
    set topic_title = #{topicTitle,jdbcType=VARCHAR},
      draw_id = #{drawId,jdbcType=VARCHAR},
      topic_status = #{topicStatus,jdbcType=SMALLINT},
      publish_time = #{publishTime,jdbcType=TIMESTAMP},
      author_id = #{authorId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      relative_mod_it = #{relativeModIt,jdbcType=VARCHAR}
    where topic_id = #{topicId,jdbcType=INTEGER}
  </update>
</mapper>